<footer>
	<div>
		<figure>
			<a href="https://github.com/Aierbote" target="_blank" rel="noopener">
				<img
					class="pfp"
					src="alberto.jpg"
					title="Visit my GitHub profile"
					alt="Alberto profile picture"
				/>
			</a>
			<figcaption class="blackBold">
				<h4>made by <span id="author">Alberto Cangialosi</span></h4>
			</figcaption>
		</figure>
	</div>

	<div>
		<figure>
			<a href="https://stevejobs.academy/" target="_blank" rel="noopener">
				<img
					id="sja"
					src="logo-sja-3.png"
					alt="logo ITS Steve Jobs Academy"
					title="ITS Steve Jobs Academy"
				/>
			</a>
			<figcaption>
				Istituto Tecnico Superiore<br /><strong>Steve Jobs Academy</strong>
			</figcaption>
		</figure>
	</div>
</footer>
