<footer>
	<div>
		<figure>
			<img class="pfp" { width: 114px; border-radius: 50%; }" src="alberto.jpg"
			alt="👤" />
			<figcaption class="blackBold">
				<h4>made by <span id="author">Alberto Cangialosi</span></h4>
			</figcaption>
		</figure>
	</div>

	<div>
		<figure>
			<img id="sja" src="logo-sja-3.png" alt="logo ITS Steve Jobs Academy" />
			<figcaption>
				Istituto Tecnico Superiore<br /><strong>Steve Jobs Academy</strong>
			</figcaption>
		</figure>
	</div>
</footer>
