<header>
	<a href="/" id="linkLogo">
		<img
			id="imgLogo"
			src="https://em-content.zobj.net/source/apple/354/school_1f3eb.png"
			alt="School Emoji used as Logo of the Header"
		/>
		<span id="spanLogo">School</span>
	</a>
</header>
