* {
	margin: 0;
	padding: 0;
}

header {
	background: linear-gradient(
		149deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(4, 81, 136, 1) 17%,
		rgba(99, 0, 141, 1) 100%
	);
	color: white;
	height: 6rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	padding-left: 3rem;
}

#imgLogo {
	width: 4rem;
	height: 4rem;
}

#linkLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#spanLogo {
	font-size: 3rem;
	color: white;
	font-weight: bolder;
}

main {
	min-height: 500px;
	padding: 1.6em 1.6em 4.6em;

	background: linear-gradient(
		177deg,
		rgba(255, 255, 255, 1) 29%,
		rgba(217, 217, 217, 1) 64%,
		rgba(176, 170, 170, 1) 83%,
		rgba(114, 100, 100, 1) 90%
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2em;
}

ul#listRubrica {
	width: 88vw;

	display: flex;
	list-style: none;
	gap: 2.2em 1.6em;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

ul#listRubrica > li {
	width: 24vw;
	height: 12vw;
	padding: 0.7em 1.2em;

	background-color: #dffffb;
	border-radius: 1.1em;
}

footer {
	background-color: #726464;
}
